storm/
.storm/
market-research/
.market-research/
env/
.env
.reports
reports/

*.env
.env
.env.local
.env.development
.env.production

__pycache__/
*.py[cod]
*$py.class

src/models/__pycache__/
services/__pycache__/
workflow/__pycache__/